#bme-server-panel {
    padding-left: 30px;
}

.main {
    min-height: 100dvh;
}

#bme-server-panel p {
    line-height: 1;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 5px;
}

#bme-server-panel>div {
    display: flex;
    gap: 10px;

    margin-bottom: 10px;
}

#bme-server-panel img {
    width: 30px;
    height: 30px;
    transition: 0.2 all;
    border-radius: 0px;
    cursor: pointer;
    transform: scale(1);
    transition: 75ms ease-in;
}

#bme-server-panel img:hover {
    border-radius: 5px;
    background: #ffffff10;
}

#bme-server-panel img:active {
    background: #9c9c9c40;
    transform: scale(1.1);
}

.offline p {
    color: #b4b4b4 !important;
}

.bme-section-header {
    display: flex;
    align-items: center;

    gap: 15px;
    cursor: pointer;
}

.bme-section-header img {
    width: 30px;
    height: 30px;
}

.bme-section-body {
    display: flex;
    justify-content: space-between;

    height: 260px;
    transition: 250ms;
    overflow-x: hidden;
}

#bme-info-panel-arrow {
    transition: 250ms;
    transform: rotate(90deg);
}

.closed {
    transform: rotate(0deg) !important;
}

.bme-section-body::-webkit-scrollbar {
    display: none;
}

.bme-section-body dl {
    margin-bottom: 0px !important;
}

.bme-section-body dt {
    width: 120px !important;
}

.bme-section-body dd {
    padding-left: 10px;
    margin-left: 120px !important;
    padding-right: 10px;
}

.bme-red-text {
    color: #ff5555;
}

.bme-yellow-text {
    color: #ffff00;
}

.bme-green-text {
    color: #55FF55;
}

.bme-info-title {
    margin: 0;
    font-weight: 700;
}

#bme-avatar {
    margin-right: 10px;
}

.bme-highlight {
    background: #ffffff10;
}



.bme-hidden {
    display: none;
}

.bme-flex {
    display: flex;
    align-items: center;
}

.bme-grow {
    flex-grow: 1;
}

.bme-bold {
    font-weight: 600;
}

.bme-sidebar-ban-details {
    display: flex;

    gap: 25px;
    padding-right: 25px;
}

#bme-server-panel a {
    color: inherit;
    transition: 75ms;
}

#bme-server-panel a:hover {
    color: #1185ec;
}


.bme-avatar-container {
    overflow: visible !important;
}

.bme-avatar-placeholder {
    width: 50px;
    height: 50px;
    display: inline-block;
    position: relative;
    overflow: visible;
}

.bme-avatar-placeholder>div {
    width: 50px;
    height: 50px;
    position: relative;
    background: radial-gradient(circle, #000000 0%, #00000000 110%);
    ;
}

.bme-avatar-identifier {
    width: 50px;
    height: 50px;
    display: block;
    transition: 150ms;
    transform-origin: top left;
    background: radial-gradient(circle, #ffffff 0%, #00000000 200%);
}

.bme-zoomable-avatar>div:hover .bme-avatar-identifier {
    transform: translateX(50px) scale(4);
    border: 1.25px solid transparent;
    position: relative;
    z-index: 10000;
}

.bme-alert-element {
    height: 34px;
    background: transparent;
}

.bme-alert-element>a {
    height: 34px;
    padding: 0px 10px;
    margin: 0px 3px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;

    border-radius: 4px;
    text-decoration: none;
    color: #ffffff;

    opacity: 0.5;
    transition: 75ms;
}

.bme-alert-element p {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #ffffff;
}

.bme-alert-element a:hover {
    opacity: 0.65;
    text-decoration: none;
    color: #ffffff;
    background: #ffffff10;
}

.bme-alert-element a:active {
    opacity: 0.95;
    text-decoration: none;
    color: #ffffff;
    background: #ffffff20;
}

.bme-alert-element a:focus {
    text-decoration: none;
    color: #ffffff;
}

.bme-green-change {
    border-color: #55ff55 !important;
    background-color: #55ff5540 !important;
}

.bme-red-change {
    border-color: #ff5555 !important;
    background-color: #ff555540 !important;
}

.bme-pc-ip-main {
    padding: 4px 0px !important;
    cursor: pointer;
    transition: 100ms;
}

.bme-pc-ip-main:hover {
    color: #dbdbdb;
}

.bme-pc-ip-main:active {
    color: #ffffff;
}

.bme-ip-nest {
    height: 0px;
    margin-left: 20px !important;

    overflow: hidden;
    transition: 200ms ease-in-out;

}

.bme-pc-open {
    height: 120px !important;
}




.bme-pc-details-table {
    display: flex;
    font-family: "Menlo", "Monaco", "Consolas", "Courier New", monospace;
}

.bme-pc-details-row {
    width: var(--width);
}

.bme-pc-details-column>span {
    display: inline-block;
    width: var(--width);
}

.bme-pc-details-column>span:first-child {
    text-align: right;
    padding-right: 1ch;
}

.bme-pc-details-column>span:last-child {
    border-right: 1px solid #ffffff;
    height: 20px;
}

.bme-button {
    background: #0c5da5;
    transition: 100ms;
    border: none;

    height: 20px !important;
    padding: 0px 5px;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    line-height: 1;
}

.bme-button:hover {
    opacity: 0.95;
}

.bme-button:active {
    opacity: 0.8;
    transform: scale(0.95);
}

.bme-pressed {
    background: #202020;
}

.bme-button-redacted:hover,
.bme-button-disabled:hover,
.bme-button-redacted:active,
.bme-button-disabled:active,
.bme-button-redacted,
.bme-button-disabled {
    background: #545454;
    opacity: 1 !important;
    transform: none !important;
}


.bme-discord-wrapper {
    width: 100%;
    height: var(--main-height);
    padding-left: 20px;
    
    overflow: var(--main-overflow);
    transition: 350ms ease-in-out;
    
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.bme-discord-wrapper h4,
.bme-discord-wrapper p {
    margin: 0px;
}

.bme-discord-avatar-container {
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.bme-discord-avatar-container>img {
    width: 100px;
    height: 100px;
    transition: 125ms;
    transform-origin: top left;
    position: relative;
    border-color: #0d0d0d;
}

.bme-discord-avatar-container>img:hover {
    transform: scale(4);
    z-index: 1000;

    background: #0c0c0c;
    border: #cfcfcf 1px solid;
}

.bme-discord-name-container {
    padding-left: 20px;
}

.bme-dc-guild-header {
    display: flex;
    gap: 10px;
    transition: 75ms ease-out;
    cursor: pointer;
}

.bm-dc-open,
.bme-dc-guild-body,
.bme-dc-guild-header:hover {
    background: #00000040;
}

.bme-dc-guild-header:active {
    background: #00000060;
}

.bme-dc-guild-header>div {
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;

}

.bme-dc-guild-header>img {
    width: 60px;
    height: 60px;
}

.bme-dc-guild-header p,
.bme-dc-guild-header h4 {
    margin: 0;
}

.bme-dc-guild-header h4 {
    font-weight: 600;
}

.bme-dc-guild-container {
    padding-left: 20px;

    padding-bottom: 5px;
}

.bme-dc-guild-body {
    padding-left: 5px;
    height: var(--height);
    overflow: var(--overflow);
    transition: 350ms;

    display: flex;
    flex-direction: column;
    gap: 5px;
}

.bme-dc-guild-body>div {
    padding-left: 20px;
}

.bme-dc-messages-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.bme-dc-messages-container:empty::before {
    content: "No messages recorded.";
    background: #00000060;
}

.bme-dc-messages-container>div {
    background: #00000060;
}

.bme-dc-roles-container:empty::before {
    content: "No roles recorded.";
    background: #00000060;
}

/* Identifier table overwrite */
.css-8uhtka {
    gap: 10px;
    align-items: center;
    display: flex;
}

.bme-clickable {
    cursor: pointer;
    transition: 250px;
}

.bme-clickable:hover {
    opacity: 0.9;
}

.bme-clickable:active {
    opacity: 0.75;
}



.bme-dc-padding-left {
    padding-left: 20px;
}

.bme-dc-message-element {
    padding: 0px 10;
    display: flex;
    gap: 10px;
}

.bme-dc-message-element>img {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.bme-dc-message-element>div>p:first-child {
    font-size: 16px;
    font-weight: 600;

    display: flex;
    align-items: center;
    gap: 10px;
}

.bme-dc-message-element>div span {
    font-size: 12px;
    color: #858585;
}






/** BM NATIVE*/
.css-h1lc4m dt {
    float: left;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tiptap {
    font-family: monospace !important;
}
form > .tiptap-container > div > .tiptap{
    background: #00000020;
    padding: 5px;
}